build:
  maxIssues: 0
  excludeCorrectable: false

config:
  validation: true
  warningsAsErrors: false
  checkExhaustiveness: false
  excludes: ''

complexity:
  active: true
  LargeClass:
    active: true
    threshold: 1000
  TooManyFunctions:
    active: true
    thresholdInClasses: 100
  NestedBlockDepth:
    active: true
    threshold: 10
  CyclomaticComplexMethod:
    active: true
    threshold: 30

style:
  active: true
  MagicNumber:
    active: false
  MaxLineLength:
    active: false
  ReturnCount:
    active: false
  WildcardImport:
    active: true

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: false
  SwallowedException:
    active: false

empty-blocks:
  active: true
  EmptyFunctionBlock:
    active: false